<style>
  .bg-dark-nav { background-color: #1f1f1f !important; }
  .navbar-nav .nav-link {
    color: #fff !important;
  }
  .navbar-nav .nav-link:hover {
    color: #28a745 !important;
  }
  .navbar-nav .nav-link.active {
    color: #28a745 !important;
  }
  .navbar-brand {
    color: #fff !important;
  }
</style>

<nav class="navbar navbar-expand-lg bg-dark-nav navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('inicio') }}">
      <i class="bi bi-fire"></i> Academia Dragon
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('inicio') }}">
            <i class="bi bi-house"></i> Início
          </a>
        </li>
        
        {% if not session.usuario %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('cadastro') }}">
            <i class="bi bi-person-plus-fill"></i> Cadastro
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login') }}">
            <i class="bi bi-box-arrow-in-right"></i> Login
          </a>
        </li>
        {% endif %}
        
        {% if session.usuario %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('mostrar_treinos') }}">
            <i class="bi bi-list-ul"></i> Treinos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('dados_pessoais') }}">
            <i class="bi bi-person-gear"></i> Meus Dados
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('editar_dados') }}">
            <i class="bi bi-key-fill"></i> Alterar Senha
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">
            <i class="bi bi-box-arrow-right"></i> Logout
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>